.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #333;
  color: #fff;
}

.info-section {
  text-align: center;
  margin-top: 50px;
}

.btn-container {
  margin-top: 20px;
}
