<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vehicles</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="./home.component.css">
</head>
<body>


<app-header></app-header>
<main class="container">
  <div class="info-section">
    <h2>About Fleet Service</h2>
    <p>Fleet Service is a comprehensive vehicle management system designed to streamline your fleet operations.</p>
    <p>With Fleet Service, you can manage vehicle information, track maintenance schedules, monitor fuel consumption, and more.</p>
    <p>Get started today and optimize your fleet management!</p>

    <!-- Buttons for Registration -->
    <div class="btn-container">
      <button class="btn btn-success mr-3">Register as a Rider</button>
      <button class="btn btn-info">Register as a Driver</button>
    </div>
  </div>



</main>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
