<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink = "home">Fleet</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item">
        <a class="nav-link" (click)="navigateToRide()">Ride</a>
      </li>

      <li class="nav-item">
        <a class="nav-link"  (click)="navigateToDrive()">Drive</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"  (click)="navigateToAbout()">About</a>
      </li>
    </ul>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link"  (click)="navigateToHelp()">Help</a>
      </li>
      <li class="nav-item">
      <li class="nav-item" *ngIf="keycloakService.isAuthenticated(); else notLoggedInBlock">
        <a class="nav-link" (click)="navigateToAccount()">Account</a>
      </li>

      <li class="nav-item" *ngIf="keycloakService.isAuthenticated()">
        <a class="nav-link" (click)="navigateToLogOut()" style="border: 1px solid; border-radius: 50px; padding: 5px 15px;">Log out</a>
      </li>

      <ng-template #notLoggedInBlock>
        <li class="nav-item">
          <a class="nav-link" (click)="navigateToLogin()">Log in</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" (click)="navigateToSignUp()" style="border: 1px solid; border-radius: 50px; padding: 5px 15px;">Sign up</a>
        </li>
      </ng-template>
    </ul>
  </div>
</nav>
